@model LeadingAndGoverning.ViewModels.ContactViewModel
<div class="panel panel-primary">
    <div class="panel-body">
        <h1 class="page-title">Contact Us</h1>
        @using (Html.BeginForm("Index", "Contact", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal" }))
        {
            <fieldset>
                <div class="form-group">@Html.ValidationSummary()</div>
                <div class="form-group">
                    @Html.Label("Email: ", htmlAttributes: new { @class = "col-lg-2 control-label", @placeholder = "me@example.com" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(m => m.Email, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Subject: ", htmlAttributes: new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.TextBoxFor(m => m.Subject, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Subject)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Message: ", htmlAttributes: new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.TextAreaFor(m => m.Body, htmlAttributes: new { @class = "form-control", @rows = "5" })
                        @Html.ValidationMessageFor(m => m.Body)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-default">Cancel</button>
                    </div>
                </div>
            </fieldset>
        }
    </div>
</div>