<div class="navbar navbar-custom">
    <div class="container">
        <div class="navbar-header">
            <a href="@Url.Action("Index","Home")" class="pull-left">
                <img width="50" onerror="this.src='~/Content/Images/lg_logo_no_text.png'" src="~/Content/Images/lg_logo_no_text.svg" alt="Leading and Governing Associates Compass logo without text." />
            </a>
            @Html.ActionLink("Leading and Governing Associates", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Welcome", "Index", "Home")</li>
                <li>@Html.ActionLink("Services", "Index", "Services")</li>
                <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
                <li>@Html.ActionLink("Our Approach", "Index", "Approach")</li>
                <li>@Html.ActionLink("Contact Us", "Index", "Contact")</li>
            </ul>
            @if (Request.IsAuthenticated)
            {
                @Html.Partial("_LoginPartial")
            }
        </div>
    </div>
</div>
